.chat-main
  .chat-main__header
    .chat-main__header__left
      %p.chat-main__header__left--name
        test
      %p.chat-main__header__left--member
        member:dan
    =link_to "#", class: "chat-main__header__edit-btn" do
      Edit
  .chat-main__messages
    .message
      .message__info
        %p.message__info--name
          dan
        %p.message__info--data
          2020/02/03(Mon)00:00:00
      .message__text
        おはよう！！！！
      .message__info
        %p.message__info--name
          dan
        %p.message__info--data
          2020/02/03(Mon)00:00:00
      .message__text
        おぱダン!!!
  .chat-main__form
