.chat-side
  .chat-side__header
    .header-box
      .header-box__name
        =current_user.name
      .header-box__icon
        = link_to new_group_path, class: "header-box__icon--btn" do
          = icon('fas', 'edit', class: "header-box__icon--btn--edit")
        = link_to edit_user_path(current_user), class: "header-box__icon--btn" do
          = icon('fas', 'cog', class: "header-box__icon--btn--cog")
  .chat-side__groups
    .group
      =link_to "#", class: "group__lists" do
        %p.group__lists--name test
        %p.group__lists--message ie----i
