* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.chat-side {
  background-color: #253141;
  height: 100vh;
  width: 300px;
  &__header {
    height: 100px;
    padding: 0 20px;
    display: flex;
    align-items: center;
  }
  &__groups {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
  }
}

.header-box {
  color: #fff;
  width: 260px;
  height: 20px;
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  &__icon {
    width: 60px;
    text-align: right;
    &--btn {
      text-decoration: none;
      color: #fff;
      margin-left: 5px;
    }
  }
}









// main_cahtはここから
.chat-main {
  background-color: #ffffff;
  width: calc(100vw - 300px);
   &__header {
     background-color: #ffffff;
     height: 100px;
     border-bottom: 1px solid #eeeeee;
   }

   &__messages {
     height: calc(100vh - 100px - 90px);
     background-color: #fafafa;
   }

   &__form {
     height: 90px;
     background-color: #d2d2d2;
   }
}
