.notification {
  .notice {
    background-color: $skyblue;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_orange;
    color: $white;
    text-align: center;
    position: fixed;
    width: 100%;
  }
}
